<div class="row">
  <div class="col-8" align="center">
  <div class="input-group">
  <input type="text" id="buscador" class="form-control" placeholder="Ingrese el producto a buscar" aria-label="Username" aria-describedby="basic-addon1">
  <button id="buscar" class="btn btn-secondary"><span>buscar</span></button>
  </div>
  </div>
</div> 

<div class="row" id="producto">
	

</div>



