<div class="row">
  <div class="col-8" align="center">
  <div class="input-group">
  <input type="text" id="buscador" class="form-control" placeholder="Ingrese el producto a buscar" aria-label="Username" aria-describedby="basic-addon1">
  <button id="buscar" class="btn btn-secondary"><span>buscar</span></button>
  </div>
  </div>
</div> 

<div class="row">
	<div class="col-sm-3">
            <article class="col-item">
            	<div class="photo">
        			<div class="options-cart-round">
        				<button class="btn btn-default" title="Add to cart">
        					<span class="fa fa-shopping-cart"></span>
        				</button>
        			</div>
        			<a href="#"> <img src="https://unsplash.it/500/300?image=0" class="img-responsive" alt="Product Image" /> </a>
        		</div>
        		<div class="info">
        			<div class="row">
        				<div class="price-details col-md-6">
        					<p class="details">
        						Lorem ipsum dolor sit amet, consectetur..
        					</p>
        					<h1>Sample Product</h1>
        					<span class="price-new">$110.00</span>
        				</div>
        			</div>
        		</div>
        	</article>
            <p class="text-center">Hover over image</p>
        </div>	
</div>